.catalog {
    background: linear-gradient(0deg, #fcfafa 0, #ff000000 250px),
        url("/assets/images/catalog/catalog.jpg") 50% 26% repeat;
    padding: 106px 0 50px;
    margin-top: -50px;
    @media (min-width: 576px) {
        margin-bottom: 150px;
    }

    &__item {
        z-index: 2;
        position: relative;
        max-width: 900px;
        margin: 0 auto 78px;
        &:last-child {
            margin-bottom: 0;
        }

        @media (min-width: 576px) {
            margin-bottom: 110px;
            &:nth-child(2n) {
                & .catalog__sheet:nth-child(1) {
                    top: 25px;
                    left: calc(-5vw + 5% - 47px);
                    width: 65px;
                    transform: translateX(-100%) rotate(158deg);
                }
                & .catalog__sheet:nth-child(2) {
                    bottom: 100px;
                    left: calc(-10vw + 10% - 20px);
                    width: 130px;
                    transform: translateX(-100%);
                    filter: blur(2px);
                }
                & .catalog__sheet:nth-child(3) {
                    bottom: -30px;
                    right: calc(-10vw + 10% - 25px);
                    width: 55px;
                    transform: translateX(100%) rotate(100deg);
                }
            }

            &:nth-child(odd) {
                & .catalog__sheet:nth-child(1) {
                    top: -90px;
                    right: calc(-5vw + 5% - -25px);
                    width: 90px;
                    transform: translateX(100%) rotate(12deg);
                    filter: blur(1px);
                }
                & .catalog__sheet:nth-child(2) {
                    bottom: 50px;
                    left: calc(-10vw + 10% - 30px);
                    width: 100px;
                    transform: translateX(-100%) rotate(270deg);
                }
                & .catalog__sheet:nth-child(3) {
                    bottom: -115px;
                    right: calc(-10vw + 10% - 10px);
                    width: 75px;
                    transform: translateX(100%) scale(-1, 1) rotate(267deg);
                    filter: blur(2px);
                }
            }
        }
        @media (min-width: 768px) {
            margin-bottom: 150px;
        }
    }

    @media (min-width: 576px) {
        &__sheet {
            position: absolute;
            & img {
                width: 100%;
            }
        }

        &__background {
            background: url("/assets/images/card/card.jpg") 0 0 / cover no-repeat;
            position: absolute;
            top: -10px;
            left: -25px;
            right: -10px;
            bottom: -10px;
            transform: rotate(-3deg);
            box-shadow: 0 15px 17px #7d142e73;
            border-radius: 15px;
        }
    }
}
