.discount {
    background: url("/assets/images/discount/discount.jpg") 100% 0 / cover no-repeat;
    position: relative;
    padding: 1px 0 70px;
    z-index: 2;

    @media (min-width: 576px) {
        padding: 60px 0 172px;
    }

    @media (min-width: 992px) {
        padding-top: 165px;
    }

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(180deg, #fcfafa 0%, #fcfafa00 55.3%);
    }

    &__greenery {
        z-index: 3;
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        height: 0;
        @media (min-width: 576px) {
            height: 172px;
            background: url("/assets/images/discount/grass.png") 0 100% / auto auto repeat-x;
        }
    }

    &__clipart {
        position: absolute;
        pointer-events: none;
        & img {
            width: 100%;
        }
        &:nth-child(1) {
            bottom: -83px;
            width: 661px;
            left: -415px;
        }
        &:nth-child(2) {
            bottom: -83px;
            width: 661px;
            right: -60px;
        }
        &:nth-child(3) {
            bottom: -50px;
            width: 70px;
            right: 20%;
            transform: rotate(105deg);
        }
    }

    &__wrapper {
        max-width: 900px;
        margin: 0 auto;
        position: relative;
        margin-top: 50px;
    }
}
