.my-card {
    font-size: calc((100vw - 24px) * 0.00268);
    position: relative;
    display: grid;
    grid-template: auto auto auto 1fr / 1fr;
    padding: 23em 23em 0;
    background: #fff;
    border-radius: 15px;

    @media (min-width: 576px) {
        column-gap: 30em;
        font-size: 0.7px;
        padding: 26em 26em 0;
        grid-template: auto auto auto 1fr / repeat(2, 1fr);
    }

    @media (min-width: 768px) {
        font-size: 0.773px;
        padding: 48em 78em 0;
        column-gap: 30em;
    }

    @media (min-width: 992px) {
        font-size: 1px;
    }

    &__title {
        font-weight: 600;
        font-size: 32em;
        text-align: center;
        text-decoration-line: underline;
        color: #e61d4e;
        margin-bottom: 1em;
        @media (min-width: 576px) {
            order: -1;
        }
    }

    &__slider {
        grid-row: span 3;
        margin-bottom: 30em;
        @media (min-width: 576px) {
            margin-bottom: 40em;
        }
    }

    &__param {
        grid-row: span 6;
        margin-bottom: 36em;

        & ul {
            font-size: 16em;
            display: grid;
            column-gap: 2.4375em;
            row-gap: 0.625em;
            grid-template-columns: repeat(2, auto);
        }
    }

    .__sale &__param {
        grid-row: span 3;
    }

    &__price {
        display: flex;
        flex-direction: column;
        justify-content: center;
        grid-row: span 3;
        text-align: center;
        color: #e61d4e;
        margin-bottom: 36em;
        & p:nth-child(1) {
            font-size: 16em;
            margin-bottom: 7px;
        }
        & p:nth-child(2) {
            font-size: 40em;
            font-weight: 600;
            margin-bottom: 0.4375em;
        }
        & p:nth-child(3) {
            color: #c4c4c4;
            font-size: 18em;
        }
    }

    &__switches {
        grid-row: span 3;
        margin-bottom: 36em;
        & > div {
            display: flex;
            flex-wrap: wrap;
            gap: 15em;
        }
    }

    &__callback {
        margin-bottom: 36em;
        display: flex;
        & input {
            flex-grow: 1;
            margin-right: -1.5em;
            padding-right: 3.0625em;
        }
    }

    &__subtitle {
        color: #323331;
        font-weight: 600;
        font-size: 18em;
        margin-bottom: 1.1em;
    }

    &__tree {
        pointer-events: none;
        position: absolute;
        width: 409px;
        right: -385px;
        bottom: -130px;
        z-index: 2;
        @media (min-width: 768px) {
            right: -350px;
        }
        & img {
            width: 100%;
        }
    }

    &__carousel {
        margin: 0 -23em;
        margin-top: -73em;

        @media (min-width: 576px) {
            margin-right: -78em;
            margin-top: -95em;
            margin-left: 15em;
            padding-left: 15em;
        }

        @media (min-width: 768px) {
            margin-right: -145em;
            margin-top: -132em;
            margin-left: 20em;
            padding-left: 20em;
        }

        &-inner {
            position: relative;
            overflow: hidden;
        }

        &-control-prev,
        &-control-next {
            position: absolute;
            top: 0;
            bottom: 0;
            z-index: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: none;
        }

        &-control-prev {
            left: 0;
            transform: rotate(180deg);
        }

        &-control-next {
            right: 0;
            @media (min-width: 576px) {
                right: 52em;
            }
            @media (min-width: 768px) {
                right: 67em;
            }
        }

        &-control-icon {
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            width: 45em;
            height: 45em;
            border-radius: 50%;
            background: linear-gradient(180deg, #e61d4e 0%, #c9214a 100%);
            right: -6px;
            transition: box-shadow 0.3s ease;
            &:hover {
                box-shadow: inset 0 0 36em #ff2b60;
            }
            & img {
                width: 60%;
            }
            @media (min-width: 576px) {
                right: -50%;
            }
        }
    }

    &__gift {
        position: absolute;
        z-index: 1;
        background: #fff;
        bottom: 85px;
        right: 0em;
        padding: 7em 43em 40em 60em;

        transform: translateY(100%);
        @media (min-width: 576px) {
            bottom: 61em;
            right: 52em;
            padding: 7em 43em 30em 60em;
        }
        @media (min-width: 768px) {
            bottom: 84em;
            right: 67em;
            padding: 8em 43em 71em 60em;
        }
        & img {
            position: absolute;
            transform: translateX(-100%);
            width: 78em;
            &:nth-child(1) {
                top: -28em;
                left: 35em;
            }
            &:nth-child(2) {
                left: 0;
            }
        }
        & p {
            font-weight: 600;
            font-size: 18em;
            color: #e61d4e;
        }
    }
}
