.title-secondary,
.title-main {
    position: relative;
    text-align: center;
    margin: 0 auto 3em;
    padding: 8px 0;
    font-size: calc((100vw - 24px) * 0.06);
    @media (min-width: 576px) {
        font-size: 36px;
    }
    @media (min-width: 768px) {
        padding: 8px 37px;
    }
}
.title-main {
    max-width: 800px;
    color: #fcfafa;
    background: #e61d4e;
    border-radius: 15px;
    font-weight: 600;
}
.title-secondary {
    margin-top: -80px;
    border-top: 80px solid transparent;
    text-shadow: 0 0 0.3em rgb(255 255 255), 0 0 0.3em rgb(255 255 255), 0 0 0.3em rgb(255 255 255);
}
